# Xcode
DerivedData/
.idea/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcscmblueprint
*.xccheckout
*.xcsettings

# Cocoapods
Pods/
Podfile.lock


# Archives
*.ipa
*.dSYM.zip
*.dSYM
*.bcsymbolmap

# Temporary and Log files
*.log
*.temp
*.tmp
*.swp
*.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
